<form action="/" method="POST" target="_blank">
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Instagram Parser</h1>
            </div>
            <div class="login-form">
                <div class="control-group">
                    <input type="text"
                           class="login-field"
                           value=""
                           placeholder="username"
                           name="username">
                    <label class="login-field-icon fui-user" for="login-name"></label>
                </div>

                <input type="submit" value="Get" class="btn btn-primary btn-large btn-block">

            </div>
        </div>
    </div>
</form>